@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center {
    @apply flex items-center justify-center
  }

  .around {
    @apply flex items-center justify-around
  }

  .between {
    @apply flex items-center justify-between
  }

  .vstack {
    @apply flex flex-col
  }

  .full {
    @apply w-full h-full
  }

  .center-full {
    @apply full center
  }

  .error {
    @apply outline-pink-500 ring-1 ring-pink-500
  }

  .font-ma {
    font-family: 'MontserratAlternates';
  }
}


@font-face {
  font-family: 'MontserratAlternates';
  src: url('$fonts/MontserratAlternates-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'MontserratAlternates';
  src: url('$fonts/MontserratAlternates-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'MontserratAlternates';
  src: url('$fonts/MontserratAlternates-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'MontserratAlternates';
  src: url('$fonts/MontserratAlternates-Bold.ttf');
  font-weight: 800;
}

:root {
  --color-o-white: #FFFFEF;
  --color-o-gray: #D8D8D8;
  --color-o-black: #02132A;
  --color-o-red-sm: #FF9B85;
  --color-o-red-md: #EE6055;
  --color-o-red-lg: #FF5E5B;
  --color-o-green-sm: #AAF683;
  --color-o-green-lg: #60D394;
  --color-o-yellow-sm: #FFD97D;
  --color-o-yellow-lg: #FFED66;
  --color-o-blue-sm: #A8DADC;
  --color-o-blue-lg: #00CECB;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "MontserratAlternates";

  background: var(--color-o-white);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  overscroll-behavior-y: contain;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  background-clip: content-box;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-o-grey);
  background-clip: content-box;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

*::placeholder {
  color: var(--color-o-gray);
}

.flip-inner {
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  position: relative;
}

.animate-flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.flip-front, .flip-back {
  top: 0;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

/* Ужасный костыль. Надо будет убрать */
.animate-flip .flip-front {
  opacity: 0;
}

.flip-back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}


.markdown {
  h1 { font-size: x-large; }

  h2 { font-size: large; }

  h3 { font-size: larger; }

  h4 { font-size: medium; }

  ul {
    list-style: disc;
    margin-left: 20px;
  }
  
  ol {
    list-style: decimal;
    margin-left: 20px;
  }

  pre {
    @apply bg-gray-700 p-2 rounded-md
  }

  blockquote {
    @apply bg-gray-700 px-1 pl-2 md:pl-4 rounded-md border-l-2 border-o-yellow-sm italic
  }

  img {
    @apply w-full md:w-1/2;
  }

  video {
    @apply w-full md:w-1/2;
  }

  * {
    @apply my-2;
  }
}